@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
* {
  font-family: Lato, sans-serif;
  -webkit-tap-highlight-color: transparent;
  outline: none;
}


/* html, body {
    overscroll-behavior: none;
  } */

/* body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
} */

body{
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0;
  }

header {
    /* position: fixed; */
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 60px;
    padding: 10px 0;
    z-index: 10;
    box-shadow: #0008 2px 2px 2px;
    background: linear-gradient(45deg, #7e0ebd, #1f75ff);
  }
header table, header tr, header td {
    height: 100%;
    vertical-align: middle;
  }
header td {
    padding: 0 10px;
  }
header a {
    text-transform: uppercase;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
  }
  
header h1{
    color: white;
    font-size: 2.5rem;
    margin: 0px;
  }

#ecell-logo {
    width: 80px;
    height: 80px;
    filter: invert(0);
    vertical-align: middle;
    margin: -10px 0;
    transition: filter 1s;
  }

  #nav-button, #nav-button-exit {
    border: none;
    background: transparent;
    position: fixed;
    right: 10px;
    top: 15px;
    font-size: 2.2em;
    outline: none;
    cursor: pointer;
    transition: transform 0.5s;
    color: #fff;
  }
  
  #nav-button {
    position: static;
  }
  
  #nav-button:hover {
    transform: scaleY(1.2);
  }
  
  #nav-button-exit {
    color: #fff;
  }
  #nav-button-exit:hover {
    transform: scaleY(0.8);
  }

  #main-menu {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100%;
    opacity: 0;
    background: linear-gradient(45deg, #7e0ebd, #1f75ff);
    transition: opacity 1s;
    color: #fff;
    z-index: 20;
    font-family: Nunito, sans-serif;
  }
  #main-menu table, #main-menu tr, #main-menu td {
    width: 100vw;
    height: 100%;
    vertical-align: middle;
    text-align: center;
  }
  #main-menu td ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  #main-menu td ul li {
    margin: 0;
    padding: 0;
  }
  #main-menu td ul li a {
    position: relative;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px;
    font-size: 2em;
    font-family: Nunito, sans-serif;
    font-variant: all-small-caps;
    transform: scale(0.5);
    opacity: 0;
    transition: 0.5s all;
  }
  #main-menu td ul li a::after {
    content: "";
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 100%;
    height: 1px;
    background: #fff;
    transform: scale(0);
    transition: 0.5s;
  }
  #main-menu td ul li a:hover::after {
    transform: none;
  }

  .team-info{
    width: 100%;
    margin: 0px;
  }

  .card {
    /* position: fixed; */
    height: calc(100% - 80px);
    width: 100vw;
    left: 0;
    bottom: 0;
    opacity: 1;
    color: #fff;
    background: #002a;
    transition: all 1s;
  }

/* Image Card CSS */
/* .row {
    height: 100%;
    display: -webkit-box;
    display: flex;
    flex-wrap: wrap;
    background-color: rgba(0, 0, 0, 0.7);
    background-color: #000000;
  }

  .column {
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-direction: column;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
    height: 100%;
  } */


  .team-name{
    text-align: center;
    font-variant: small-caps;
    color: #1f75ff;
    font-size: 3.2em;
    font-weight: 600;
  }

  .person-info{
    height: 325px;
    width: 325px;
    margin: 10px;
    padding: 0px;
  }

  .card-info {
    /* min-height: 250px;
    max-height: 300px;
    min-width: 250px;
    max-width: 300px; */
    height: 100%;
    width: 100%;
    -webkit-box-flex: 1;
            flex: 1;
    /* margin: 22px; */
    z-index: 1250;
  }

  .card-info:hover .inner {
    -webkit-transform: rotatey(180deg);
            transform: rotatey(180deg);
  }
  
  .card-info:hover .text,
  .card-info:hover .underline,
  .card-info:hover .subtitle {
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  .inner {
    width: 100%;
    height: 100%;
    /* position: relative; */
    -webkit-transition: -webkit-transform 0.6s ease;
    transition: -webkit-transform 0.6s ease;
    transition: transform 0.6s ease;
    transition: transform 0.6s ease, -webkit-transform 0.6s ease;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    z-index: 1;
    margin: 0px;
  }
  
  .inner:before {
    content: '';
    z-index: -2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: inherit;
  }
  
  .inner:after {
    content: '';
    position: absolute;
    z-index: -1;
    top: 1em;
    right: 1em;
    bottom: 1em;
    left: 1em;
    /* background-color: rgba(0, 0, 0, 0.7); */
  }

  .text {
    font-size: 36px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
    background-color: #7e0ebd;
    color: #1f75ff;
    height: min-content;align-items: baseline;
    padding: 0px;
  }

  .text{
    -webkit-transform: translatez(60px);
            transform: translatez(60px);
    /* color: #000000; */
    -webkit-backface-visibility: visible;
            backface-visibility: visible;
  }

  .backface {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    /* left: 4%; */
    bottom: 0;
    /* right: 0; */
    text-align: justify;
    justify-content: center;
    align-items: center;
    /* padding: 2em; */
    box-sizing: border-box;
    color: rgba(255, 255, 255, 0.9);
    -webkit-transform: rotatey(180deg) translatez(60px);
            transform: rotatey(180deg) translatez(60px);
    overflow: hidden;
    background-color: black;
    -webkit-backface-visibility: hidden;
            backface-visibility: hidden;
  }
  
  /* .backface .contacts{
    width: 100%;
    text-align: center;
    margin: 45% 0;
  } */
  
  .backface .contacts a{
    text-decoration: none;
  }
  
  .backface .contacts a{
    font-size: 2.5em;
    color: #1f75ff;
    margin: 0 10px;
  }
  
  .backface .contacts a:hover i{
    transition: all 0.1s ease-in;
    transform: scale(1.5);
  }

  #img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8 {
    background-size: cover;
  }
  
  #img1 {
    background-image: url(./images/oc\ 1.jpeg);
  }
  
  #img2 {
    background-image: url(./images/oc\ 1.jpeg);
  }
  
  #img3 {
    background-image: url(./images/oc\ 1.jpeg);
  }
  
  #img4 {
    background-image: url(./images/oc\ 1.jpeg);
  }
  
  #img5 {
    background-image: url(./images/oc\ 1.jpeg);
  }
  
  #img6 {
    background-image: url(./images/oc\ 1.jpeg);
  }
  #img7 {
    background-image: url(./images/oc\ 1.jpeg);
  }
  
  #img8 {
    background-image: url(./images/oc\ 1.jpeg);
  }

  section{
    background-color: #000000;
  }
/* Image Card CSS */

/* section h1{
  text-align: center;
  background-color: #000000;
  color: #1f75ff;
} */

@media (max-width: 900px) {
  #ecell-logo {
    width: 80px;
  }
}

@media (max-width: 900px) {
  .main {
    margin: 0 0 0;
  }
}

@media (max-width: 576px){
  /* .card-info {
    min-height: 150px;
    max-height: 125px;
    min-width: 150px;
    max-width: 125px;
    -webkit-box-flex: 1;
            flex: 1;
    margin: 5px;
    margin-bottom: 0px;
    z-index: 1250;
  } */

  .text {
    font-size: 30px;
    font-weight: 800;
  }

  .backface .contacts a{
    font-size: 3em;
    margin: 0 5px;
  }

  .team-name{
    font-size: 3em;
  }

  .person-info{
    height: 300px;
    width: 300px;
    margin: 0px;
    padding: 10px;
  }
}